@import 'core/settings';
@import 'base/typography';
@import 'components/cards';
@import 'components/spells';
@import 'layout/header';
@import 'layout/result-section';
@import 'layout/spell-section';
@import 'layout/modal';

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

body {
	height: 100vh;
	overflow-x: hidden;
	font-family: $font-general;
}
