<header class="header">
    <button class="trigger-button">
        <i class="fas fa-bars fa-2x nav__icon"></i>
    </button>
    <nav class="nav">
        <button class="close-button">
        <i class="fas fa-times fa-2x nav__icon"></i>
        </button>
        <ul class="nav__list">
        <li class="nav__list--item"><a href="index.html">Favorite Characters</a></li>
        <li class="nav__list--item open-modal">Your Hogwarts House</a></li>
        <li class="nav__list--item"><a href="spells.html">Book of Spells</a></li>
        </ul>
    </nav>
<h1 class="main__title">What's your favorite Harry Potter character?</h1>
<input type="text" class="search__input">
</header>