<div class="modal__background">
    <div class="modal modal__front modal__hidden">
        <i class="fas fa-times fa-2x modal__icon"></i>
        <h2 class="modal__title">What Hogwart House Would You Be in?</h2>
        <p>Click the Sorting Hat and find it out!</p>
        <img src="assets/images/hat.jpg" alt="Sorting Hat" class="modal__photo sorting_hat">
    </div>
    <div class="modal modal__back modal__hidden">
        <i class="fas fa-redo-alt fa-lg modal__icon--repeat"></i>
        <i class="fas fa-times fa-2x modal__icon modal__icon--hidden"></i>
        <div class="modal__result"></div>
    </div>
</div>

